**/.DS_Store
**/*.asv
**/slprj/**
**/*.slxc
simulator/montecarlo/results/
simulator/MontecarloResults/

# data for software - portugal 2023
data/Gemini_Portugal_October_2023/HIL_CPP_files_ABK/**
data/Gemini_Portugal_October_2023/HIL_CPP_files_PRF/**
data/Gemini_Portugal_October_2023/HIL_CPP_files_MTR/**
data/Gemini_Portugal_October_2023/HIL_CPP_files_NAS/**
data/Gemini_Portugal_October_2023/HIL_CPP_files_ADA/**
# data for software - roccaraso 2023
data/Gemini_Roccaraso_september_2023/HIL_CPP_files_ABK/**
data/Gemini_Roccaraso_september_2023/HIL_CPP_files_PRF/**
data/Gemini_Roccaraso_september_2023/HIL_CPP_files_MTR/**
data/Gemini_Roccaraso_september_2023/HIL_CPP_files_NAS/**
data/Gemini_Roccaraso_september_2023/HIL_CPP_files_ADA/**

**/*.pdf
**/*.mat
**/*.fig
**/*.avi
data/msa-toolkit/*
CdIdentification/estimatedCoefficients*

exports