[submodule "common"]
	path = common
	url = https://git.skywarder.eu/skyward/matlab-dependencies/common.git
[submodule "commonFunctions/graphics/general-utilities"]
	path = general-utilities
	url = https://git.skywarder.eu/skyward/general-utilities.git
